.article {
  display: flex;
  width: 940px;
  height: 140px;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  justify-content: space-between;
  padding: 16px 14px 24px 15px;
  box-sizing: border-box;
  position: relative;

  &:not(:first-child) {
    margin-top: 26px;
  }

  .article__left-info-block {
    max-width: 80%;
    .article__header {
      display: flex;
      align-items: center;

      h5 {
        color: #1890FF;
        font-size: 20px;
        font-weight: 400;
      }

      .article__rate {
        display: flex;
        justify-content: center;
        margin-left: 15px;
        font-size: 12px;
        margin-bottom: 10px;

        p {
          margin-left: 3px;
        }
      }
    }

    .article__tag-list {
      margin-top: 4px;
    }

    .article-desc-panel {

      .article__button-panel {
        display: flex;
        right: 13px;
        top: 70px;

        button {
          height: 31px;
          font-size: 14px;
        }

        button[name=delete-article] {
          border-color: #F5222D;
          color: #F5222D;
          margin-right: 10px;
        }

        button[name=edit-article] {
          color: #52C41A;
          border-color: #52C41A;
        }
      }
    }

    .article__desc {
      margin-top: 5px;
      font-size: 12px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.75);
    }
  }

  .article__right-info-block {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    .article__info {
      display: flex;
      .article__user-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-right: 10px;

        .article__username {
          font-size: 18px;
        }

        .article__date {
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}